---
---

<footer class="col-span-1 md:col-span-12 bg-brand-dark p-6 md:p-12 border-t border-brand-border flex flex-col md:flex-row justify-between items-start md:items-center font-mono text-xs md:text-sm text-gray-500 gap-6">
	<div class="flex flex-col gap-2">
		<p>System Status: <span class="text-green-500">Online</span></p>
		<p>Location: Earth</p>
		<p>bpm: 128</p>
	</div>

	<div class="flex gap-8">
		<a href="https://twitter.com/CesarArdilaB" target="_blank" class="hover:text-brand-accent hover:underline decoration-2 underline-offset-4">TWITTER</a>
		<a href="https://github.com/CesarArdilaB" target="_blank" class="hover:text-brand-accent hover:underline decoration-2 underline-offset-4">GITHUB</a>
		<a href="mailto:hello@caesar.codes" class="hover:text-brand-accent hover:underline decoration-2 underline-offset-4">EMAIL</a>
	</div>
</footer>
