---
import { SITE } from 'astrowind:config';
import Image from '~/components/common/Image.astro';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white flex items-center">
  <Image
  src={"~/assets/images/logo.png"}
  width={30}
  sizes="(max-width: 900px) 400px, 900px"
  alt={"Cesar Ardila"}
  aspectRatio="16:9"
  layout="cover"
  loading="lazy"
  decoding="async"
/> &nbsp; ac
</span>
