---
import type { CollectionEntry } from 'astro:content';

interface Props {
	post: CollectionEntry<'post'>;
}

const { post } = Astro.props;
---

<a href={`/post/${post.slug}`} class="bg-brand-dark p-8 group relative overflow-hidden h-64 flex flex-col justify-between border-r border-brand-border md:last:border-r-0 transition-colors duration-300 hover:bg-[#0a0a0a]">
	<span class="font-mono text-xs text-gray-500 group-hover:text-brand-accent transition-colors duration-300">{post.data.publishDate?.toISOString().split('T')[0].replace(/-/g, '.')}</span>
	<h4 class="font-mono text-xl md:text-2xl font-bold group-hover:text-brand-light transition-colors duration-300 line-clamp-3">
		{post.data.title}
	</h4>
	<div class="w-full h-1 bg-brand-border group-hover:bg-brand-accent transition-colors duration-300 mt-auto"></div>
</a>
